include LICENSE.txt
include README.md

include sagemaker_studio_sparkmagic_conf/data/**

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
